<!DOCTYPE html>
<html style="height: 100%">
    <head>
        <meta charset="utf-8">
        <style type="text/css">
            ul,li{list-style: none;margin:0;padding:0;float:left;}
            body, html,#panel{width: 100%; height: 100%; overflow: hidden; margin:0; font-family:"微软雅黑";}
            #container{width: 100%; height: 100%; float:left;font-family:"微软雅黑";}
            #control{width: 100%; height: 2%; float:left;margin:0; font-family:"微软雅黑";}
            #network{width: 100%; height: 98%; float:left;margin:0; font-family:"微软雅黑";}
        </style>
    </head>
    <body style="height: 100%; margin: 0">
        <div id="container" style="height: 100%">
            <div id="network"></div>
            <div id="control">
                <form action="{{model_name}}" method="post">
                    {% csrf_token %}
                    <select name="Coarse" >
                      {% for v in coarse_lst %}
                      <option value="{{v}}" {% if v == coarse %} selected {% endif %}>{{v}}</option>
                      {% endfor %}
                    </select>
                    <select name="Cluster" >
                      {% for v in cluster_lst %}
                      <option value="{{v}}" {% if v == cluster %} selected {% endif %}>{{v}}</option>
                      {% endfor %}
                    </select>                    
                    <select name="Time" >
                        {% for v in time_lst %}
                        <option value="{{v}}" {% if v == time %} selected {% endif %}>{{v}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Submit"/>
                </form>
                <iframe id="iframe" name="iframe" style="display:none;"></iframe>
            </div>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.js"></script>
    <!-- Uncomment this line if you want to dataTool extension
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/extension/dataTool.min.js"></script>
    -->
    <!-- Uncomment this line if you want to use gl extension
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl@2.0.0-rc.1/dist/echarts-gl.min.js"></script>
    -->
    <!-- Uncomment this line if you want to echarts-stat extension
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat@latest/dist/ecStat.min.js"></script>
    -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js?_v_=1598903772045"></script>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/map/js/world.js"></script> -->

    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=H1g0EoBBPah7LTRTVhpEcKaLgWquGgfE"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/extension/bmap.min.js"></script>

    <script type="text/javascript">

var data_input = {{ nodes|safe }};
var coarse_now = '{{coarse}}'
var dom_network = document.getElementById("network");
var networkChart = echarts.init(dom_network);
var networkOption;
var app = {};
if (coarse_now == 'city'){
    {% load static %}
    $.get("/static/cities.geojson", function(map){
        var networkChart = echarts.init(dom_network);
        echarts.registerMap("china",map);
        networkOption = {
            tooltip: {show:true, formatter: '{b}: {c}'},
            toolbox: {
                show: true,
                orient : 'vertical',
                x: 'right',
                y: 'center',
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            roamController: {
                show: true,
                x: 'right',
                mapTypeControl: {
                    'china': true
                }
            },
            series: [{
            type: 'map',
            roam: true,
            map: 'china',
            data: data_input
            }]};
        if (networkOption && typeof networkOption === 'object') {
            networkChart.setOption(networkOption);
        }
    });
}
else{
    $.get("https://geo.datav.aliyun.com/areas_v2/bound/100000_full.json",function(map){
        var networkChart = echarts.init(dom_network);
        echarts.registerMap("china",map);
        networkOption = {
            toolbox: {
                show: true,
                orient : 'vertical',
                x: 'right',
                y: 'center',
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            roamController: {
                show: true,
                x: 'right',
                mapTypeControl: {
                    'china': true
                }
            },
            series: [{
            type: 'map',
            roam: true,
            map: 'china',
            data: data_input
            }]};
        if (networkOption && typeof networkOption === 'object') {
            networkChart.setOption(networkOption);
        }
    });
}
    </script>
</html>
